<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoiceBroadcastClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <userSettings>
    <VoiceBroadcastClient.Properties.Settings>
      <setting name="clientName" serializeAs="String">
        <value />
      </setting>
      <setting name="serverIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="serverPort" serializeAs="String">
        <value>6666</value>
      </setting>
      <setting name="inputDeviceName" serializeAs="String">
        <value>Kein</value>
      </setting>
      <setting name="outputDeviceName" serializeAs="String">
        <value>Kein</value>
      </setting>
    </VoiceBroadcastClient.Properties.Settings>
  </userSettings>
</configuration>